apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-ingressgateway
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://istio-release.storage.googleapis.com/charts
    chart: gateway
    targetRevision: 1.22.3
    helm:
      values: |
        service:
          type: NodePort           # KIND-friendly
          ports:
            - name: http2
              port: 80
              targetPort: 8080
              nodePort: 30080
            - name: https
              port: 443
              targetPort: 8443
              nodePort: 30443
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system
    createNamespace: true
  syncPolicy:
    automated: { prune: true, selfHeal: true }
