apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus
    targetRevision: 25.27.0
    helm:
      values: |
        server:
          service:
            type: NodePort
            nodePort: 32090          # => http://127.0.0.1:32090
          persistentVolume:
            enabled: false
          resources:
            requests: { cpu: 100m, memory: 256Mi }
            limits:   { cpu: 500m, memory: 512Mi }
        serverFiles:
          prometheus.yml: |
            global:
              scrape_interval: 15s
              scrape_timeout: 10s
              evaluation_interval: 15s
            scrape_configs:
            - job_name: 'envoy-stats'
              kubernetes_sd_configs:
              - role: pod
              relabel_configs:
              - source_labels: [__meta_kubernetes_pod_container_name]
                regex: istio-proxy
                action: keep
              - source_labels: [__meta_kubernetes_pod_ip]
                target_label: __address__
                regex: (.*)
                replacement: $1:15090
              scheme: http
              metrics_path: /stats/prometheus
              honor_labels: true
            - job_name: 'istiod'
              kubernetes_sd_configs:
              - role: pod
              relabel_configs:
              - source_labels: [__meta_kubernetes_namespace]
                regex: istio-system
                action: keep
              - source_labels: [__meta_kubernetes_pod_label_app]
                regex: istiod
                action: keep
              - source_labels: [__meta_kubernetes_pod_ip]
                target_label: __address__
                regex: (.*)
                replacement: $1:15014
              metrics_path: /metrics
              scheme: http
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
    createNamespace: true
  syncPolicy:
    automated: { prune: true, selfHeal: true }