apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus
    targetRevision: 25.27.0
    helm:
      values: |
        alertmanager:
          enabled: false
        pushgateway:
          enabled: false
        server:
          persistentVolume:
            enabled: false
          service:
            type: ClusterIP
            port: 9090
            # This service name matches what Kiali expects by default:
            # http://prometheus.istio-system:9090
            annotations: {}
  syncPolicy:
    automated: { prune: true, selfHeal: true }
    syncOptions:
    - CreateNamespace=true